body {
  margin: 0;
  display: flex;
}

.draws{
	border: 10px solid black;
	border-radius: 5%;
}

/*https://developer.ibm.com/technologies/web-development/tutorials/wa-canvashtml5layering/*/
/*Para permitir overlay stack das canvas*/
#viewport {
    /**
     * Position relative so that canvas elements
     * inside of it will be relative to the parent
     */
    position: relative;
}

#viewport canvas {
    /**
     * Position absolute provides canvases to be able
     * to be layered on top of each other
     * Be sure to remember a z-index!
     */
    
    background-color: transparent;
}
.pixel-art {
  /*Esta porra para ficar com o mesmo aspect ratio*/
 image-rendering: pixelated;
}

#divtexto{
	position: absolute;
	left: 140px; top: 530px; z-index: 3;
	width:400px;
	height:170px;
	text-align: center;
}
